[Desktop Entry]
Type=Application
Name=Photoshop CC 2021
GenericName=Photoshop is a professional image editing software used for photo retouching, compositing, and digital painting.
Comment=Photoshop is a professional image editing software offering powerful tools for editing, compositing, and creating digital art.
Exec=photoshop.sh
Icon=io.github.grisha765.Photoshop
Categories=Graphics;
StartupWMClass=Photoshop

